# Database providers
apache-airflow-providers-mysql
apache-airflow-providers-odbc
apache-airflow-providers-common-messaging

# Database drivers
pyodbc
pymysql

sphinx
sphinx-autoapi
sphinx-rtd-theme

scikit-learn
xgboost
lightgbm
mlflow
shap

sentence-transformers
langchain
openai

# Graph Database
neo4j
apache-airflow-providers-neo4j

# ML Validation & Additional RAG
evidently
langchain-neo4j
pyarrow>=14.0.0
pandas<3.0.0